Job {
    # Имя обязательно
    Name = "{{ ansible_hostname }}_directory"
    JobDefs = "{{ ansible_hostname }}_directory_jobdefs"
    Client = {{ ansible_hostname }}
    FileSet = "{{ ansible_hostname }}_directory_fileset"
    Schedule = "{{ ansible_hostname }}_directory_schedule"
}

JobDefs {
    # Имя Jobdefs
    Name = "{{ ansible_hostname }}_directory_jobdefs"
    # Тип, можно использовать backup/restore/verify
    Type = Backup
    # Настройка по-умолчанижю
    # Можно использоватеть Full/Differential(since last full)/Incremental(since last incremental)
    Level = Incremental
    #  bareos_level_backup 
    # Набор файлов
    FileSet = "{{ ansible_hostname }}_directory_fileset"
    # Где будет хранится
    Storage = File
    # Отчеты
    Messages = Standard
    # Хранение пула
    Pool = bareos-pool-Incremental:
    # чем выше приоритет значения, тем ниже оно будет помещено в очередь
    # Самые важные job priority=1 будут стартовать первыми
    Priority = 10
    # файл начальной загрузки хранит "журнал" всех резервных копий и перезаписывается каждый раз, когда
    # сделана полная резервная копия, ее можно использовать при восстановлении
    Write Bootstrap = "/var/lib/bareos/%c.bsr"

    # Full Backup Pool = Full
    # Differential Backup Pool = Differential
    # Incremental Backup Pool = Incremental

}

FileSet {
    Name = "{{ ansible_hostname }}_directory_fileset"
    Include {
        Options {
            signature = MD5
            compression = gzip
        }
        # Пример
        # /opt/tomcat,/opt
    {% for file in bareos_backup_fileset %}
        File = {{ file }}
    {% endfor %}
    }
}

Schedule {
  # Имя задания (обязательно)
  Name = "{{ ansible_hostname }}_directory_schedule"

  # Время запуска
  # Пример 
  # Run = daily at 02:00
  Run = daily at {{ schedule_time }}

}
